@using FluentMysql.Infrastructure.Entities
@using FluentMysql.Infrastructure.ValueObject
@using FluentMysql.Infrastructure.Interfaces
@using FluentMysql.Domain.ValueObject
@using FluentMysql.Site.Areas.Admin.ViewsData.Usuario
@model FluentMysql.Site.Areas.Admin.ViewsData.Usuario.FiltroForm
@{
    ViewBag.Title = "Lista de Usuários";
    Usuario minhaConta = !object.Equals(ViewBag.MinhaConta, null) ? (Usuario)ViewBag.MinhaConta : new Usuario();
    UsuarioPermissao minhaPermissao = new UsuarioPermissao(minhaConta);
}
@section scripts{
    @Scripts.Render("~/Scripts/Areas/Admin/usuario.index.min.js")
}
<div class="container">
    <h2>
        <i class="fa fa-users"></i>
        @ViewBag.Title
    </h2>
    <div class="alertas">
        @Html.Raw(ViewBag.Mensagem)
    </div>
    <form action="@Url.Action("Index", new { })" method="post" id="filtro">
        @Html.HiddenFor(x => x.OrdemCrescente)
        @Html.HiddenFor(x => x.MaximoPorConsulta)
        @Html.HiddenFor(x => x.IdReferencia)
        <div class="form-group">
            @Html.LabelFor(x => x.PalavraChave, new { @class = "sr-only" })
            <div class="row">
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.PalavraChave, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Filtrar por" })
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-block" action="buscar" search-type="reset">
                        <i class="fa fa-filter"></i>
                        <span>Filtrar</span>
                    </button>
                </div>
            </div>
        </div>
        @if(minhaPermissao.Operador)
        {
            <div class="form-group">
                <a href="@Url.Action("Insere")" class="btn btn-info" title="clique aqui para inserir novo">
                    <i class="fa fa-plus"></i>
                    <span>Novo</span>
                </a>
                <button type="submit" name="Acao" value="ativar" class="btn btn-success" title="clique aqui para ativar selecionados">
                    <i class="fa fa-eye"></i>
                    <span class="hidden-xs">Ativar</span>
                </button>
                <button type="submit" name="Acao" value="desativar" class="btn btn-warning" title="clique aqui para desativar selecionados">
                    <i class="fa fa-eye-slash"></i>
                    <span class="hidden-xs">Desativar</span>
                </button>
                <button action="excluirSelecionados" type="submit" name="Acao" value="excluir" class="btn btn-danger" title="clique aqui para excluir selecionados">
                    <i class="fa fa-trash"></i>
                    <span class="hidden-xs">Excluir</span>
                </button>
            </div>
        }
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="hidden-xs hidden-sm">#</th>
                    <th>Nome</th>
                    <th class="hidden-xs hidden-sm">E-mail</th>
                    <th class="hidden-xs">Nível</th>
                    <th class="col-xs-8 col-sm-5 col-md-4 text-right">
                        @if (minhaPermissao.Operador)
                        {
                            <button action="selecionaTodos" type="submit" name="Acao" value="selecionar-todos" class="btn btn-default" title="clique aqui para selecionar todos os item">
                                <i class="fa fa-check-square-o"></i>
                                <span class="hidden-xs">Seleciona</span>
                            </button>
                            <button action="desselecionaTodos" type="submit" name="Acao" value="desselecionar-todos" class="btn btn-default" title="clique aqui para desselicionar todo os itens">
                                <i class="fa fa-square-o"></i>
                                <span class="hidden-xs">Desseleciona</span>
                            </button>
                        }
                    </th>
                </tr>
            </thead>
            @Html.Partial("_IndexTbody", Model)
        </table>
    </form>

</div>

