@using FluentMysql.Infrastructure.Entities
@model FluentMysql.Site.Areas.Admin.ViewsData.Artigo.InsereForm
@{
    ViewBag.Title = "Insere Artigo";
}
@section styles{
    @Styles.Render("~/Content/bootstrap-tagsinput.min.css")
}
@section scripts{
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/ckeditor/adapters/jquery.js")
    @Scripts.Render("~/Scripts/bootstrap-tagsinput.min.js")
    @Scripts.Render("~/Scripts/Areas/Admin/artigo.insere.min.js")
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <h2 class="text-center">
                <i class="fa fa-file"></i>
                @ViewBag.Title
            </h2>
            @Html.Partial("_InsereForm", Model)
        </div>
    </div>
</div>